.AdminBg {
  margin: 0;
  line-height: inherit;
  height: 100vh;
  background-color: #f3f4f6;
}

@media (min-width: 768px) {
  .AdminNav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
  }
}

@media (min-width: 768px) {
  .ViewProduct {
    position: absolute;
    top: 0;
    right: 0;
  }
}
